.snakemake/
/scratch/
/presentations/
/reports/
/resources/dpgp3/
/resources/rice/
/results/
/docs/_build/
/slurm/logs/
.DS_Store
.idea/
.ipynb_checkpoints/
/testing/tmp/
__pycache__/
/testing/scratch/
